/vendor/
/vendor
/.idea/
/.vscode/
.env
.env.local
.phpunit.result.cache
.php_cs.cache
phpunit.xml.cache
composer.lock
coverage/
storage/
bootstrap/cache/
*.log
*.sqlite
/node_modules/
/public/build/
/public/hot
/.DS_Store
/.env*.local
npm-debug.log
yarn-error.log
